<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gil.testexception.domain.repository.ExceptionDao">
    <select id="selectTest" resultType="map">
        select *
        from tb_user
        where 1=1
    </select>

    <insert id="insertTest" parameterType="ExceptionDto">
        insert tb_user(
            id,
            name,
            age
        )
        values(
            #{id},
            #{name},
            #{age}
        )
    </insert>

    <select id="selectSpecificMember" resultType="ExceptionDto" parameterType="hashmap">
        select *
        from tb_user
        where id = #{id}
    </select>
</mapper>