<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="common.Location" alias="location"/>
        <typeAlias type="common.Member" alias="member"/>
        <typeAlias type="common.NoteBook" alias="noteBook"/>
        <typeAlias type="common.Team" alias="team"/>
    </typeAliases>
</configuration>